doctype html
html(lang="en")
  head
    title CJ.Net F.P.
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/animate.css")
    link(href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
  body
    section(class="full-height text-center" id="main.content")
      div(class="data")
        div(class="col-md-3 center-block quitar-float espacio-arriba")
          img(src="img/negocio.png" class="animated fadeIn")
          h1(class="russo grande azul animated fadeIn retraso-1") CJ.Net F.P.
        div(class="animated fadeInDown retraso-2")
          h2 Es tu solución.
          nav
            a(href="servicios/index" class="espacio-derecha verde") CONOCENOS
            a(href="" class="espacio-derecha verde") REGISTRATE
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="js/main.js")