doctype html
html(lang="en")
  head
    title CJ.Net F.P.
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="css/animate.css")
    link(href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
  body
    nav(class="se-gris padding-largo text-center")
        ul(class="no-lista mediano")
            li(class="russo col-md-3 inline-block")
                a(href="" class="verde") CJ.Net F.P. #[small(class="lato small") Es tu solución]

            li(class="col-md-3 inline-block")
                a(href="contacto.html") Contacto

            li(class="col-md-3 inline-block")
                a(href="acerca.html") Acerca de.
    block contenido