extends ../layout.jade
block contenido
    div(class="col-md-5 center-block quitar-float espacio-arriba text-left")
        h1 Editar Servicios
        form(method="put" action="/servicios/#{servicioo.id}" style="margin-top:1.5em;" enctype="multipart/form-data")
            div(class="form-group")
                label Nombre
                input(type="text" name="title" value="#{servicioo.title}"  placeholder="Nombre del Servicio" class="form-control")
            div(class="form-group")
                label Descripci칩n
                textarea(name="description" placeholder="Descripci칩n del Servicio" class="form-control")
                    =servicioo.description
            div(class="form-group")
                label Costo
                input(type="number" name="pricing" value="#{servicioo.pricing}" placeholder="Precio del Servicio" class="form-control")
            div(class="form-group")
                label Imagen del Servicio No New
                input(type="file" name="image_avatar")
            div(class="form-group")
                label Contrase침a No New
                input(type="password" name="password"  placeholder="Contrase침a" class="form-control")
            div(class="form-group text-right")
                input(type="submit" class="btn btn-info" value="Grabar")