extends ../layout.jade
block contenido
    div(class="col-md-5 center-block quitar-float espacio-arriba text-left")
        h1 Agregar Servicios
        form(method="post" action="/servicios" style="margin-top:1.5em;" enctype="multipart/form-data")
            div(class="form-group")
                label Nombre
                input(type="text" name="title"  placeholder="Nombre del Servicio" class="form-control")
            div(class="form-group")
                label Descripci칩n
                textarea(name="description"  placeholder="Descripci칩n del Servicio" class="form-control")
            div(class="form-group")
                label Costo
                input(type="number" name="pricing"  placeholder="Precio del Servicio" class="form-control")
            div(class="form-group")
                label Imagen del Servicio
                input(type="file" name="image_avatar")
            div(class="form-group")
                label Contrase침a
                input(type="password" name="password"  placeholder="Contrase침a" class="form-control")
            div(class="form-group text-right")
                input(type="submit" class="btn btn-info" value="Grabar")